{% load thumbnail %}





{% for image in images %}
  <div class="images">
      {% thumbnail image.image 300x300 crop="smart" as im %}
      <a href="{{ image.get_absolute_url }}">
        <img src="{{ im.url }}" alt="{{ image.title }}">
      </a>

    <div class="info">
      <a href="{{ image.get_absolute_url }}" class="title">
        {{ image.title }}
      </a>
                <p class="tags">
            Tags:
            {% for tag in image.tags.all %}
                <a href="{% url 'images:image_list_by_tag' tag.slug %}">
                    {{tag.name }} 
                </a>
            {% endfor %}
        </p>
    </div>

  </div>
{% endfor %}